<?xml version="1.0"?>
<launch>

    <arg name="continuos_ex" default="$(find joints_act)/urdf/continuos_ex.urdf"/>
    <param name="robot_description" command="cat $(arg continuos_ex)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="continuos_test_pub" >
    </node>

    <!-- Uncomment the Joint state publisher if not using a node to publish joint states. If uncommented, comment any node publishing joint states-->
    
    <!--<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    </node>-->

    <node pkg="joints_act" type="continuousJoint.py" name="continuous_joint_pub" />

    <arg name="rvizconfig" default="$(find joints_act)/rviz/joints.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>