<?xml version="1.0" ?>
<launch>
    
    <!--<include file="$(find rplidar_ros)/launch/rplidar.launch" />-->
    <node name="LaserScanner" pkg="simple_robot_ex" type="laserScanner.py" output="screen"/>

    <node name="robot" pkg="simple_robot_ex" type="simple_robot_ex.py" output="screen"/> 
    <node name="Laser2PC" pkg="simple_robot_ex" type="laser2pc.py" output="screen"/> 

    

    <arg name="rvizconfig" default="$(find simple_robot_ex)/rviz/robot_rviz.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> 

</launch>