<?xml version="1.0"?>
<launch>

    <arg name="fixed_joint_test" default="$(find joints_act)/urdf/fixed_ex.urdf"/>
    <param name="robot_description" command="cat $(arg fixed_joint_test)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="link_ex_pub" >
    </node>

    <arg name="rvizconfig" default="$(find joints_act)/rviz/joints.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>