<?xml version="1.0"?>
<launch>

    <arg name="servo_test" default="$(find links_act)/urdf/servo.urdf"/>
    <param name="robot_description" command="cat $(arg servo_test)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="cylinder_test_pub" >
    </node>

    <!-- Uncomment the Joint state publisher if not using a node to publish joint states. If uncommented, comment any node publishing joint states-->
    
    <!--<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    </node>-->

    <node pkg="links_act" type="servo_joint.py" name="servo_joint_pub" />

    <arg name="rvizconfig" default="$(find links_act)/rviz/servo.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> 

</launch>