<?xml version="1.0"?>

<launch>

    <!--System Parameters-->
    <arg name="system_gain" default="13.2"/>
    <arg name="system_tau"  default="0.05"/>

    <!--Simulation Parameters-->
    <arg name="sample_time" default="0.02"/>
    <arg name="node_rate"  default="150"/>
    
    <!--Initial conditions-->
    <arg name="initial_conditions" default="0.0"/>

    <!--System Limitations (Saturation)-->
    <arg name="max_output" default="13.0"/>
    <arg name="min_input" default="0.2"/>

    <!--Initialise kinematic_model -->
    <node pkg="first_order_sys_sim" type="first_order_sys.py" name="first_order_sys" output="screen">
        <param name="system_node_rate" value="$(arg node_rate)"/>
        <param name="system_sample_time" value="$(arg sample_time)"/>
        <param name="system_param_K" value="$(arg system_gain)"/>
        <param name="system_param_T" value="$(arg system_tau)"/>
        <param name="system_initial_conditions" value="$(arg initial_conditions)"/>
        <param name="system_max_output" value="$(arg max_output)"/>
        <param name="system_min_input" value="$(arg min_input)"/>
        
    </node>

</launch>