<?xml version="1.0"?>
<launch>

    
    <!--System Parameters-->
    <arg name="system_gain" default="13.2"/>
    <arg name="system_tau"  default="0.05"/>
    <arg name="initial_conditions" default="0.0"/>
    <arg name="max_output" default="13.0"/>
    <arg name="min_input" default="0.05"/>

    <!--Controller Parameters-->
    <arg name="controller_kp" default="0.095"/>
    <arg name="controller_ki"  default="0.05"/>    
    <arg name="max_control_output" default="1.0"/>
    <arg name="min_control_output" default="-1.0"/>

    <!--Generator Parameters-->
    <arg name="amplitude" default="10.0"/>
    <arg name="frequency"  default="0.1"/>

    <!--Simulation Parameters-->
    <arg name="sample_time" default="0.02"/>
    <arg name="node_rate"  default="150"/>
    
   

        <!--Initialise system model -->
        <include file="$(find first_order_sys_sim)/launch/system.launch">
            <arg name="system_gain" value="$(arg system_gain)"/>
            <arg name="system_tau"  value="$(arg system_tau)"/>
            <arg name="sample_time" value="$(arg sample_time)"/>
            <arg name="node_rate"  value="$(arg node_rate)"/>
            <arg name="initial_conditions" value="$(arg initial_conditions)"/>
            <arg name="max_output" value="$(arg max_output)"/>
            <arg name="min_input" value="$(arg min_input)"/>
        </include>

        <!--Initialise controller -->
        <include file="$(find controller_simple)/launch/controller.launch">
            <arg name="controller_kp" value="$(arg controller_kp)"/>
            <arg name="controller_ki"  value="$(arg controller_ki)"/>
            <arg name="sample_time" value="$(arg sample_time)"/>
            <arg name="node_rate"  value="$(arg node_rate)"/>
            <arg name="max_output" value="$(arg max_control_output)"/>
            <arg name="min_output" value="$(arg min_control_output)"/>
        </include>

        <!--Initialise set point generator-->
        <include file="$(find controller_simple)/launch/setpoint_gen.launch">
            <arg name="amplitude" value="$(arg amplitude)"/>
            <arg name="frequency"  value="$(arg frequency)"/>
            <arg name="node_rate"  value="$(arg node_rate)"/>
        </include>



</launch>